<div class="info">
  <strong class="location">Table #{{ project.location }}</strong>
  <h2>{{ project.name }}</h2>
  <div style="padding-bottom: 5px !important;">
    <p style="padding-bottom: 0 !important; margin-bottom: 0">Team: {{ project.team_name }}</p>
    <p style="padding-top: 0">
      <a style="padding-top: 0; color: orange; text-decoration-line: underline"
         href="{{ project.presentation_link }}"
         target="_blank">Presentation here</a>
    </p>
  </div>
  <p class="preserve-formatting">{{ project.description }}</p>
</div>
