{% extends "judge/judge_layout.html" %}
{% block title %}
  Vote
{% endblock title %}
{% block page %}
  <div id="accordion" class="pt-3">
    {% with project=prev, state="Previous" %}
      {% include 'judge/_collapseable_project.html' %}
    {% endwith %}
  </div>
  <div class="versus">
    <div class="vs">VS</div>
  </div>
  {% with project=next, state="Current", show=True %}
    {% include 'judge/_collapseable_project.html' %}
  {% endwith %}
  {% include 'judge/_progress_bar.html' %}
  <div class="info">
    <form id="vote-form" action="{{ url_for('vote') }}" method="post">
      <p class="center">Which one is better?</p>
      <div id="vote-previous" class="radio-button button-left">
        <input type="radio" name="action" id="vote-previous-radio" value="Previous"/>
        <label for="vote-previous-radio">{{ prev.name }} (previous)</label>
      </div>
      <div id="vote-current" class="radio-button button-right">
        <input type="radio" name="action" id="vote-current-radio" value="Current"/>
        <label for="vote-current-radio">{{ next.name }} (current)</label>
      </div>
      <div id="skip-alert"
           style="height: 45px"
           class="error-alert radio-button button-full button-gap d-none">
        <p style="width: 100%;
                  text-align: center;
                  height: 45px;
                  line-height: 45px">
          <b>
            Please skip only if absolutely necessary.
          </b>
        </p>
      </div>
      <div id="vote-skip" class="radio-button button-full button-gap">
        <input type="radio" name="action" id="vote-skip-radio" value="Skip" checked/>
        <label for="vote-skip-radio">Skip</label>
      </div>
      <input type="submit"
             name="action"
             value="Submit"
             id="vote-submit"
             class="button-full button-gap"/>
      <input type="hidden" name="prev_id" value="{{ prev.id }}"/>
      <input type="hidden" name="next_id" value="{{ next.id }}"/>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}"/>
    </form>
    <script src="{{ url_for('static', filename='js/smart-button-toggle.js') }}"></script>
  </div>
  <script type="text/javascript">
    const currentProject = '{{ next.id }}';
    const timePerProject = '{{ time_per_project }}';
    const maxTimePerProject = '{{ max_time_per_project }}';
    const endJuryTime = new Date('{{ jury_end_datetime }}');

    console.log(currentProject, timePerProject, maxTimePerProject, endJuryTime);
    let submitted = false;
    let wantsToSkip = false;

    document.getElementById('vote-skip-radio').addEventListener('click', function () {
      wantsToSkip = !wantsToSkip;
      if (wantsToSkip) {
        document.getElementById('skip-alert').classList.remove('d-none');
      } else {
        document.getElementById('skip-alert').classList.add('d-none');
      }
    })

    document.getElementsByName('action').forEach(elem => {
      if (elem.type === 'radio') {
        elem.checked = false;
        elem.addEventListener('change', function (event) {
          if (submitted) {
            event.stopPropagation()
            event.preventDefault()
            console.log('already submitted x2')
            return false
          }

          document.getElementById('vote-submit').disabled = false;
        });
      }
    });

    document.getElementById('vote-submit').disabled = true;

    document.getElementById('vote-form').onsubmit = function (event) {
      if (submitted) {
        event.preventDefault()
        event.stopPropagation();
        console.log('already submitted');
        return false;
      }

      submitted = true;
      document.getElementById('vote-submit').disabled = true
    }
  </script>
{% endblock page %}
