$branding-orange: #ffdf40;
$branding-turquoise: #4ecdc4;
$branding-red: #fc5454;
$branding-yellow: #ffe86b;
$branding-green: #c9d41b;
$branding-dark: #531e95;

$wait-color: $branding-yellow;
$error-color: $branding-red;
$previous-color: $branding-orange;
$current-color: $branding-turquoise;
$vote-color: $branding-red;
$vote-skip-color: $branding-yellow;
$vote-done-color: $branding-green;
$admin-color: $branding-dark;
$disabled-color: mix($branding-red, white, 25%);
$prioritized-color: mix($branding-green, white, 25%);
$positive-color: $branding-green;
$negative-color: $branding-red;
$neutral-color: $branding-yellow;

$text-color: #000000;
$link-color: mix($branding-turquoise, black, 50%);
$light: #fffefa;
$light-grey: #e8e8e8;
$dark: $branding-dark;
$heading-font: 'Maven Pro', sans-serif;
$body-font: "Lato", Helvetica, Arial, sans-serif;
