@import 'constants';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;

}

html {
  font-family: $body-font;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

body {
  color: $text-color;
  background-color: $light;
}

body.judge-view {
  background: #111026;
  color: #fff;
}

div {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: $heading-font;
}

p {
  padding-bottom: 0.25rem;
}

.preserve-formatting {
  white-space: pre-wrap;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

input,
textarea {
  font-family: $body-font;
}

input {
  font-weight: bold;
}

strong {
  font-weight: bold;
}


th.sort-header {
  cursor: pointer;

  &::selection {
    background: transparent;
  }
}

table th.sort-header::after {
  content: " ( )";
  visibility: hidden;
  font-family: "Source Code Pro", "Courier New", monospace;
  opacity: 0.5;
}

table th.sort-header:hover::after {
  visibility: visible;
}

table th.sort-up::after {
  content: " (+)";
  visibility: visible;
}

table th.sort-down::after {
  content: " (-)";
  visibility: visible;
}

textarea,
input[type=text] {
  font-weight: normal;
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

a.colored {
  color: $link-color;
}

a:hover,
a:focus {
  text-decoration: underline;
}


hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

.item {
  padding-bottom: 1rem;
}

.info {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;

  p {
    font-size: 18px;
  }

  strong {
    background: #FDB632;
    padding: 1px 6px;
    color: #111026;
    font-weight: 200;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
}

.api-link {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;

  a {
    color: $link-color;
  }
}

.compact {
  padding: 0 0;
}

.center {
  text-align: center;
}

.banner {
  text-align: center;
  margin-bottom: 0.5rem;
  color: $light;

}

.banner-tight {
  @extend .banner;
  margin-bottom: 0;
}

#admin-header {
  background-color: $admin-color;
}

#wait-header {
  background-color: $wait-color;
  color: $dark;
}

#error-header {
  background-color: $error-color;
}


input[type=submit] {
  color: $light;
  background-color: $dark;
  border: 2px solid $dark;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  height: 3rem;
  -webkit-border-radius: 0; // fix rounded buttons on iOS
  td & {
    border: none;
    width: 100%;
    height: 100%;
  }
}

.button-left {
  float: left;
  width: 48%;
}

.button-right {
  float: right;
  width: 48%;
}

.button-full {
  width: 100%;
}

.button-gap {
  margin-top: 0.75rem;
}

#vote-previous {
  background-color: $previous-color;
  border: 3px solid $previous-color;
}

#vote-current {
  background-color: $current-color;
  border: 3px solid $current-color;
}

#vote-continue {
  background-color: $current-color;
  border: 3px solid $current-color;
}

#vote-skip {
  background-color: $vote-skip-color;
  border: 3px solid $vote-skip-color;
}

#vote-submit {
  background-color: $vote-submit-color;
}

#vote-submit:disabled {
  background-color: $light-grey;
  border: none;
}

.radio-button {
  display: inline-block;
}

.radio-button > input {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-button > label {
  display: inline-block;
  padding: 10px 20px;
  width: 100%;
  color: $light;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.radio-button > input:not(:checked) + label {
  background-color: white;
  color: $dark;
}

input[type=submit].positive {
  background-color: $positive-color;
}

input[type=submit].negative {
  background-color: $negative-color;
}

input[type=submit].neutral {
  background-color: $neutral-color;
  color: $dark;
}

.disabled {
  background-color: $disabled-color;
}

.prioritized {
  background-color: $prioritized-color;
}

.upload-container {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.field {
  padding-right: 1rem;
}

#footer {
  margin-top: 2rem;

  p {
    font-size: 0.75rem;
    text-align: center;
  }
}


/*** New theme ***/

.banner-tight {
  display: inline-block;

}

.banner-tight h1 {
  font-size: 12px;
  padding: 6px 12px;
}

.rotate90 {
  padding: 0;
  margin: 0;
  /* Safari */
  -webkit-transform: rotate(90deg);

  /* Firefox */
  -moz-transform: rotate(90deg);

  /* IE */
  -ms-transform: rotate(90deg);

  /* Opera */
  -o-transform: rotate(90deg);
}

.input-team {
  display: none;
}

.label-team {
  width: 45vw; /* 20% of the viewport width */
  height: 45vw;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: 1px solid rgba(256, 256, 256, 0.5);
  font-size: 18px;
  padding: 10px;
  font-weight: bold;

  border-radius: .25rem;
}

.label-team.active {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}

.label-team.active:after {
  display: block;
  content: '\2713';
  font-size: 30px;
}

.button-vote {
  display: none;
  width: 100%;
  margin-top: 2em;
}

.table td, .table th {
  padding: .5rem;
  vertical-align: middle;
}

.table thead th {
  vertical-align: top;
}

.table td {
  background: #ffffff;
}

.card {
  background: transparent;
  border-radius: 0;
  border: 0;
}

.card-body {
  padding: 0;
}

.card-header {
  border-radius: 0;
  border-bottom: 0;
  padding: 0 1rem;
}

.versus {
  padding: 10px;
}

.vs {
  text-align: center;
}

.overlay {
  background: #111026;
  position: fixed;
  overflow: hidden;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.bottom {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  padding: 1rem;
}

.progress-bar {
  color: #111026;
  position: fixed;

  bottom: 0;
  width: 100%;
}

.progress-bar div {
  background: #FDB632;
}

@keyframes RED-BLINK {
  0%, 49% {
    background-color: rgba(256, 0, 0, 0.7);

  }
  50%, 100% {
    background-color: rgba(256, 0, 0, 1);
  }
}

.alert-blink {
  animation: RED-BLINK 1s infinite; /* IE 10+, Fx 29+ */
  color: #fff;
}

.btn-custom {
  padding: 0;

  .prepend {
    padding: .375rem .75rem;
    float: left;
    background: #007bff;
    color: #fff;
    line-height: 1.5;
  }

  .value {
    padding: .375rem .75rem;
    float: left;
    font-weight: bold;
    color: #fff;
  }

  .append {
    padding: .375rem .75rem;
    color: #fff;
    float: right;
  }

}
