<tr class="{{ 'disabled' if not annotator.active else '' }}">
  <td>
    <a href="{{ url_for('judge_details', judge_id=annotator.id) }}"
       class="colored">{{ annotator.id }}</a>
  </td>
  <td>
    <a href="{{ url_for('judge_details', judge_id=annotator.id) }}"
       class="colored">{{ annotator.name }}</a>
  </td>
  <td>{{ annotator.email }}</td>
  <td>{{ annotator.description }}</td>
  <td>{{ counts.get(annotator.id, 0) }}</td>
  <td data-sort="{{ annotator.next_id or -1 }}">{{ annotator.next_id }}</td>
  <td data-sort="{{ annotator.prev_id or -1 }}">{{ annotator.prev_id }}</td>
  <td data-sort="{{ annotator.updated | utcdatetime_epoch }}">{{ annotator.updated | utcdatetime_local }}</td>
  <td class="compact">
    <form action="/admin/judges/{{ annotator.id }}/send-email" method="post">
      <input type="submit" value="Send email" class="btn btn-warning"/>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}"/>
    </form>
  </td>
  <td class="compact" data-sort="{{ annotator.active }}">
    <form action="/admin/judges/{{ annotator.id }}/update-status" method="post">
      <input type="submit"
             name="value"
             value="{{ 'Disable' if annotator.active else 'Enable' }}"
             class="btn {{ 'btn-danger' if annotator.active else 'btn-success' }}"/>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}"/>
    </form>
  </td>
  <td class="compact">
    <form action="/admin/judges/{{ annotator.id }}/delete" method="post">
      <input type="submit" value="Delete" class="btn btn-danger"/>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}"/>
    </form>
  </td>
</tr>
