<div class="info">
  {% if item.location %}<strong class="location">Table #{{ item.location }}</strong>{% endif %}
  <h2>{{ item.name }}</h2>
  <div style="padding-bottom: 5px !important;">
    <p style="padding-bottom: 0 !important; margin-bottom: 0">Team: {{ item.team_name }}</p>
    <p style="padding-top: 0">
      <a style="padding-top: 0; color: orange; text-decoration-line: underline"
         href="{{ item.presentation_link }}"
         target="_blank">Presentation
      here</a>
    </p>
  </div>
  <p class="preserve-formatting">{{ item.description }}</p>
</div>
