<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Stylesheets -->
  <link rel=stylesheet type=text/css
        href="{{ url_for('static', filename='css/vendor/normalize.css') }}">


  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous">

  {#  {% assets "scss_all" %}#}
  {#    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">#}
  {#  {% endassets %}#}

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700"
        rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet"
        type="text/css">

  <!-- Enable responsiveness on mobile devices -->
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>{% block title %}{% endblock %} &middot; Gavel</title>
  {% block head %}
  {% endblock %}
</head>
<body class="{{ 'judge-view' if not is_admin  else 'admin-view' }}">

{% if not is_admin %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">HackTM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Vote <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/welcome">Instructions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="reload()">Reload Page</a>
        </li>
      </ul>
    </div>
  </nav>
{% endif %}
<div id="content">
  {% block content %}
  {% endblock %}
</div>

<div id="footer">
  <!-- Please don't remove this -->
  <p>Powered by <a href="https://github.com/anishathalye/gavel"
                   class="colored">Gavel</a></p>
</div>
{% block end %}
{% endblock %}

<!-- Javascript -->
<script src="{{ url_for('static', filename='js/vendor/jquery-3.2.1.slim.min.js') }}"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
  crossorigin="anonymous"></script>


<script type="text/javascript"
        src="{{ url_for('static', filename='js/gavel.js') }}"></script>
<script type="text/javascript">
  function reload() {
    window.location.reload(true);
  }


</script>
</body>
</html>
