{% extends "layout.html" %}
{% block title %}Vote{% endblock %}
{% block content %}
<div id="accordion" class="pt-3">
  <div class="card">
    <div class="card-header" id="headingOne">

        <button class="btn btn-outline-primary btn-block collapsed btn-custom" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <span class="prepend">Previous</span>
      <span class="value">{{ prev.name | safe }}</span>
          <span class="append">&#9776;</span>
      </button>

    </div>

    <div id="collapseOne" class="collapsed collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body previous-body">
        {% with item=prev %}
        {% include "_item.html" %}
        {% endwith %}
      </div>
    </div>
  </div>
    </div>
  <div class="versus">
    <div class="vs">VS</div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">

        <button class="btn btn-outline-primary btn-block collapsed btn-custom" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <span class="prepend">Current</span>
          <span class="value">{{ next.name | safe }}</span>
          <span class="append">&#9776;</span>
        </button>

    </div>
    <div id="collapseTwo" class="collapsed collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        {% with item=next %}
        {% include "_item.html" %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>
<div class="item vote-section pt-3">
  <div class="banner pt-4" id="vote-header">
    <h1 class="rotate90">&#10095;</h1>
  </div>
  <div class="info">
    <form action="/vote" method="post">
      <p class="center">Which one is better?</p>
      <label for="vote-previous" class="label-team">{{ prev.name | safe }}</label>
      <input type="radio" name="action" value="Previous" id="vote-previous" class="button-left input-team">
      <label for="vote-current" class="label-team">{{ next.name | safe }}</label>
      <input type="radio" name="action" value="Current" id="vote-current" class="button-right input-team">
      <div class="pt-3">
      <input type="submit" value="Vote" class="btn btn-success btn-block button-vote">
        </div>
      <div class="pt-3">
      <input type="submit" name="action" value="Skip" id="vote-skip" class="btn btn-outline-warning">
      </div>
      <input type="hidden" name="prev_id" value="{{ prev.id }}">
      <input type="hidden" name="next_id" value="{{ next.id }}">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    </form>
  </div>
</div>
<div class="progress-bar">
  <div class="row">
    <div class="col-4 col-sm-4">
      Time spent<br>
      <span id="time-spent">-</span>
    </div>
    <div class="col-4 col-sm-4">
      Projects seen<br>
      {{ seen|length }} / {{ items|length }}
    </div>
    <div class="col-4 col-sm-4">
      Total time left<br>
      <span id="time-left">-</span>
    </div>
  </div>
</div>
<div class="overlay">
  <div class="info">
    <h2>Go to <strong>table no. {{ next.location | safe }}</strong> and click start when you are ready to asses the project.</h2>
  </div>
  <div class="bottom">
    <button id="start" class="btn btn-primary btn-block btn-overlay" data-role="vote-start" data-current-team="{{ next.id }}">Start</button>
  </div>
</div>
<script type="text/javascript">
  var currentProject = '{{ next.id }}';
  var timePerProject = '{{ time_per_project }}';
  var maxTimePerProject = '{{ max_time_per_project }}';
  var endJuryTime = new Date(Date.UTC({{ jury_end_datetime }}));
</script>
{% endblock %}


