{% extends "admin/admin_layout.html" %}
{% block title %}Project{% endblock %}
{% block page %}
  <div class="banner" id="admin-header">
    <h1>
      Project <strong>{{ item.name }}</strong>
    </h1>
  </div>
  <div class="info">
    <form action="/admin/projects/{{ item.id }}/update" method="post">
      <input type="text" name="name" value="{{ item.name }}"/>
      <textarea name="team_name">{{ item.team_name }}</textarea>
      <textarea name="presentation_link">{{ item.presentation_link }}</textarea>
      <input type="text" name="location" value="{{ item.location }}"/>
      <textarea name="description">{{ item.description }}</textarea>
      <div>Mu: {{ item.mu }}</div>
      <div>Sigma Squared: {{ item.sigma_sq }}</div>
      <div>
        Seen by:
        <ul>
          {% for judge in item.viewed %}
            {% include 'admin/projects/_judge_link.html' %}
          {% endfor %}
        </ul>
      </div>
      <div>
        Assigned to:
        <ul>
          {% for judge in assigned %}
            {% include 'admin/projects/_judge_link.html' %}
          {% endfor %}
        </ul>
      </div>
      <div>
        Skipped by:
        <ul>
          {% for judge in skipped %}
            {% include 'admin/projects/_judge_link.html' %}
          {% endfor %}
        </ul>
      </div>
      <input type="submit" name="action" value="Update" class="neutral">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    </form>
  </div>
{% endblock page %}
